.cell {
  width: 30px;
  height: 30px;
  outline: 1px solid #444;
  position: relative;
  background: white;
}

.black-square {
  background: black;
}

.clueNumber {
  position: absolute;
  top: 2px;
  left: 4px;
  font-size: 10px;
  color: #555;
}
