.cell {
  width: 30px;
  height: 30px;
  margin-bottom: -1px;
  margin-right: -1px;
  border: 1px solid #444;
  position: relative;
  background: white;
  user-select: none;
  cursor: default;
}

.black-square {
  background: black;
}

.highlighted-square {
  background: #a7d8ff;
}

.active-square {
  background: #ffda00;
}

.clueNumber {
  position: absolute;
  top: 0px;
  left: 1px;
  font-size: 8px;
  color: #444;
}

.storedLetter {
  position: absolute;
  left: 0;
  top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  bottom: 1px;
  z-index: 1001;
  font-size: 21px;
  line-height: 1;
  text-align: center;
  font-size: 16px;
  color: #000;
}
